numpy
scipy>=1.1.0
matplotlib
# =========
# Optionals
# =========
# for the zonotope MCMC sampler
cvxopt==1.2.7
# for notebook on sampling spanning trees
networkx 
# for the documentation
sphinxcontrib-bibtex
sphinx_rtd_theme